
<ion-content>

  <form [formGroup]="formRegisterVeh" (ngSubmit)="regVeh()">
    <ion-item>
      <ion-label position="stacked">Marca</ion-label>
      <ion-select (ionChange)="cambioMarca($event)" placeholder="Selecciona Marca" formControlName="ID_MARCA">
        <ion-select-option *ngFor="let marca of marcas" [value]="marca.ID_MARCA">{{marca.DESCRIPCION}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Error messages -->
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.ID_MARCA.errors?.required">
      Debe ingresar matrícula.
    </span>
    <ion-item>
      <ion-label position="stacked">Modelo</ion-label>
      <ion-select placeholder="Selecciona Modelo" formControlName="ID_MODELO">
        <ion-select-option *ngFor="let mod of modelos" [value]="mod.ID_MODELO">{{mod.DESCRIPCION}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Error messages -->
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.ID_MODELO.errors?.required">
      Debe seleccionar un modelo.
    </span>

  
    <ion-item>
      <ion-label position="stacked">Matrícula</ion-label>
      <ion-input formControlName="MATRICULA" [clearInput]="true"></ion-input>
    </ion-item>
    <!-- Error messages -->
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.MATRICULA.errors?.required">
      Debe ingresar matrícula.
    </span>
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.MATRICULA.errors?.minlength">
      La matrícula debe ser de 7 caracteres.
    </span>
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.MATRICULA.errors?.maxlength">
      La matrícula debe ser de 7 caracteres.
    </span>
    
  
    <ion-item>
      <ion-label position="stacked">Año: </ion-label>
      <ion-input type="number" formControlName="ANIO" [value]="defaultYear" [max]="maxYear" [min]="minYear"></ion-input>   
    </ion-item>
    <!-- Error messages -->
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.ANIO.errors?.required">
      Debe ingresar el año del vehículo.
    </span>
    
    <ion-item>
      <ion-label position="stacked">Color</ion-label>
      <ion-select interface="popover" formControlName="COLOR" placeholder="Selecciona Color"> 
        <ion-select-option *ngFor="let color of colores" [value]="color">{{color}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Error messages -->
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.COLOR.errors?.required">
      Debe seleccionar un color.
    </span>
  
    <ion-item>
      <ion-label position="stacked">VIN</ion-label>
      <ion-input formControlName="VIN" [clearInput]="true"></ion-input>
    </ion-item>
    <!-- Error messages -->
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.VIN.errors?.minlength">
      El VIN debe ser de 17 caracteres.
    </span>
    <span class="ion-padding" *ngIf="isSubmitted && errorControl.VIN.errors?.maxlength">
      El VIN debe ser de 17 caracteres.
    </span>
    
    <div class="padre-btn">
      <ion-button type="submit">REGISTRAR</ion-button>
    </div>
  </form>

</ion-content>