<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <div class="card" *ngFor="let serv of servicios">
      <div class="contenido-card" id="tarjeta" (click)="detalleServ(serv.ID_SERVICIO)">
        <h4>{{serv.VEHICULO.MODELO.MARCA.DESCRIPCION}} {{serv.VEHICULO.MODELO.DESCRIPCION}} {{serv.VEHICULO.COLOR}} {{serv.VEHICULO.ANIO}}</h4>
        {{serv.VEHICULO.MATRICULA}}
        <p>MANTENIMIENTO {{serv.TIPO_SERVICIO.DESCRIPCION}}</p>
        <p>CLIENTE: {{serv.CLIENTE.NOMBRE}}</p>
        <img class="imgEstatus" src="../../../assets/servicios/{{serv.ESTATUS.ID_ESTATUS}}.png" alt="">
        {{serv.ESTATUS.DESCRIPCION}}     
      </div>
  </div>

</ion-content>