<ion-content>
  <div>
    <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>CHAT DE SERVICIO</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="abrirChat(false)">CERRAR</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-chat [serv]="serv"></app-chat>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <ion-item>
    <ion-label>
      <h1>MANTENIMIENTO</h1>
      <p>{{serv.TIPO_SERVICIO.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>Descripcion:</h2>
      <p>{{serv.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>

  <ion-item class="tecnico-encargado" *ngIf="serv.TECNICO_ENCARGADO">
    <ion-label>
      <h3>TÉCNICO ASIGNADO</h3>
      <p>{{serv.TECNICO_ENCARGADO.NOMBRE}}</p>
    </ion-label>
    <img src="{{ url }}{{serv.TECNICO_ENCARGADO.IMG ?? 'default.png'}}" alt="" />
  </ion-item>

  <ion-item *ngIf="!serv.TECNICO_ENCARGADO">
    <ion-label>
      <h3>TÉCNICO NO ASIGNADO</h3>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h3>MATRÍCULA</h3>
      <p>{{serv.VEHICULO.MATRICULA}}</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="serv.VEHICULO.VIN">
    <ion-label>
      <h3>VIN</h3>
      <p>{{serv.VEHICULO.VIN}}</p>
    </ion-label>
  </ion-item>

  <ion-item class="estado-servicio">
    <ion-label>
      <h1>ESTADO SERVICIO</h1>
      <p>{{serv.ESTATUS.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>


  <p *ngIf="serv.ESTATUS.ID_ESTATUS!='C'">REFACCIONES Y MANO DE OBRA</p>
  <div class="contendor-refacciones" *ngIf="serv.ESTATUS.ID_ESTATUS!='C'">
    <ion-card *ngFor="let det of detalle_serv">
      <ion-card-header>
        <ion-card-title>{{det.PRODUCTO.DESCRIPCION}}</ion-card-title>
        <ion-card-subtitle>{{det.TIPO_PROD == 'R' ? 'Refacción' : 'Mano de Obra'}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <h3>Precio {{det.PRECIO | currency}}</h3>
          <h3>Total {{det.PRECIO * det.CANTIDAD | currency}}</h3>
          <h3>Cantidad {{det.CANTIDAD}}</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <p *ngIf="serv.ESTATUS.ID_ESTATUS!='C'">Total: {{total | currency}}</p>


  <div class="seguimiento-serv" *ngIf="serv.ESTATUS.ID_ESTATUS!='C'">
    SEGUIMIENTO SERVICIO
    <ion-item *ngFor="let act of actualizaciones_serv" class="seguimiento">
      <ion-avatar slot="start">
        <img alt="" src="{{url}}{{act.USUARIO.IMG ?? 'default.png'}}" />
      </ion-avatar>
      <div>
        <ion-label>{{act.ESTATUS.DESCRIPCION}}</ion-label>
        <ion-label>{{act.USUARIO.NOMBRE}}</ion-label>
        <ion-label>{{act.FECHA | date: 'medium'}}</ion-label>
      </div>
    </ion-item>
  </div>

  <ion-fab>
    <ion-fab-button (click)="abrirChat(true)">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
