<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>AGENDAR CITA</h4>

  <form [formGroup]="formRegisterCit">
    <ion-item fill="solid">
      <ion-label position="floating">Tipo de Servicio</ion-label>
      <ion-select
        formControlName="ID_TIPO_SERVICIO"
        placeholder="Selecciona Tipo de Servicio"
      >
        <ion-select-option
          *ngFor="let type of typesServ"
          [value]="type.ID_TIPO_SERVICIO"
          >{{type.DESCRIPCION}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <!-- Error messages -->
    <span
      class="ion-padding"
      *ngIf="isSubmitted && errorControl.ID_TIPO_SERVICIO.errors?.required"
    >
      Debe seleccionar un tipo de servicio.
    </span>

    <ion-item fill="solid" class="descripcion-text">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea
        formControlName="DESCRIPCION"
        placeholder="Introduce la descripcion aquí"
        class="custom-textarea"
        [autoGrow]="true"
      ></ion-textarea>
    </ion-item>

    <span
      class="ion-padding"
      *ngIf="isSubmitted && errorControl.DESCRIPCION.errors?.required"
    >
      Debe ingresar descripción del servicio.
    </span>
    <ion-item fill="solid" class="vehiculo-select">
      <ion-label position="floating">Vehículo</ion-label>
      <ion-select
        (ionChange)="cambioVeh($event)"
        formControlName="MATRICULA"
        #vehSelect
        placeholder="Selecciona Vehículo"
      >
        <ion-select-option *ngFor="let veh of vehiculos" [value]="veh.MATRICULA"
          >{{veh.MATRICULA}} ({{veh.MODELO.MARCA.DESCRIPCION}}
          {{veh.MODELO.DESCRIPCION}})</ion-select-option
        >
      </ion-select>
    </ion-item>
    <!-- Error messages -->
    <span
      class="ion-padding"
      *ngIf="isSubmitted && errorControl.MATRICULA.errors?.required"
    >
      Debe seleccionar un vehículo.
    </span>
    <br />
    <div class="contenedor-btn-veih">
      <ion-button (click)="setOpenRegVeh(true)">
        <ion-icon name="car-sport-outline"></ion-icon> Nuevo</ion-button
      >
      <ion-button (click)="limpiarVeh()">
        <ion-icon name="car-sport-outline"></ion-icon> Limpiar</ion-button
      >
    </div>

    <div *ngIf="veh_selec">
      <ion-item>
        <ion-label>Matricula:</ion-label>
        <ion-input [value]="veh_selec.MATRICULA" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Modelo:</ion-label>
        <ion-input
          [value]="veh_selec.MODELO.MARCA.DESCRIPCION + ' ' +veh_selec.MODELO.DESCRIPCION"
          [disabled]="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Año:</ion-label>
        <ion-input [value]="veh_selec.ANIO" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Color:</ion-label>
        <ion-input [value]="veh_selec.COLOR" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>VIN:</ion-label>
        <ion-input [value]="veh_selec.VIN" [disabled]="true"></ion-input>
      </ion-item>
    </div>

    <h4 class="fecha-cita">Fecha de Cita</h4>
    <ion-datetime-button datetime="datetime" color="light"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          formControlName="FECHA_CITA"
          id="datetime"
          [min]="fecha"
          [max]="max"
          minuteValues="0,15,30,45"
          locale="es-ES"
          hourCycle="h12"
        >
          <span slot="time-label">Hora:</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
    <!-- Error messages -->
    <span
      class="ion-padding"
      *ngIf="isSubmitted && errorControl.FECHA_CITA.errors?.required"
    >
      Debe seleccionar una fecha de cita.
    </span>

    <div class="contendor-btn-registrar">
      <ion-button class="registrar-btn" (click)="presentAlert()"
        >REGISTRAR</ion-button
      >
    </div>
  </form>

  <div>
    <ion-modal [isOpen]="isModalRegVehOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>REGISTRAR VEHÍCULO</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenRegVeh(false)">CERRAR</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-registrar-veh
            [id_cliente]="id_cliente"
            (matricula)="limpiarVeh();actualizarVeh($event)"
          ></app-registrar-veh>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <div>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>DETALLE CITA</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">CERRAR</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-detalle-citas-cliente [cita]="cita" [id_cita]="id_cita"></app-detalle-citas-cliente>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
