<section
  style="
    background: url(../../assets/login/denim.png) repeat;
    width: 100vw;
    height: 100vh;
  "
>
  <div class="contenedor">
    <div class="contenedor-img"></div>
    <form [formGroup]="loginForm" (ngSubmit)="validarLogin()">
      <h2>INICIAR SESIÓN</h2>
      <div class="form-group">
        <div class="input-group mb-5">
          <span class="input-group-text icono-form" id="basic-addon1"
            ><i class="bx bx-user"></i
          ></span>
          <input
            type="text"
            class="form-control input-form"
            placeholder="Correo"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="CORREO"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text icono-form" id="basic-addon1"
            ><i class="bx bx-lock-open-alt"></i
          ></span>
          <input
            type="password"
            class="form-control input-form"
            placeholder="Contraseña"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="CONTRA"
          />
        </div>
      </div>
      <button type="submit" class="btn-ingresar">Ingresar</button>
    </form>
  </div>
</section>
