<!-- 
  cosas a tomar en cuenta
  slot "start" o "end"
  class "other" o "you"
  imagen
  contenido msg
-->
<div *ngIf="usuario">
  <ion-item *ngIf="!isLocalUser" class="other">
    <ion-thumbnail slot="start">
      <img alt="" src="{{url}}{{usuario.IMG ?? 'default.png'}}" />
    </ion-thumbnail>
    <div>
      <ion-label>{{usuario.NOMBRE}}</ion-label>
      <ion-label>{{message.message}}</ion-label>
      <ion-label *ngIf="date_msg!=date">{{message.timestamp | date: 'medium'}}</ion-label>
      <ion-label *ngIf="date_msg==date">{{message.timestamp | date: 'shortTime'}}</ion-label>
    </div>
    
  </ion-item>
  
  <ion-item *ngIf="isLocalUser" class="you">
    <ion-thumbnail slot="end">
      <img alt="" src="{{url}}{{usuario.IMG ?? 'default.png'}}" />
    </ion-thumbnail>
    <div>
      <ion-label>{{"Tú"}}</ion-label>
      <ion-label>{{message.message}}</ion-label>
      <ion-label *ngIf="date_msg!=date">{{message.timestamp | date: 'medium'}}</ion-label>
      <ion-label *ngIf="date_msg==date">{{message.timestamp | date: 'shortTime'}}</ion-label>
    </div>
  </ion-item>
</div>

