<app-header [page]="page"></app-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>DETALLE SERVICIO</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">CERRAR</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-detalle-serv-empleado [serv]="servicio"></app-detalle-serv-empleado>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  <ion-searchbar
    show-cancel-button="focus"
    cancel-button-icon="trash"
    (ionChange)="handleSearchChange($event)"
  ></ion-searchbar>
  <ion-card
    *ngFor="let serv of serviciosToShow"
    (click)="setServ(serv);setOpen(true)"
    >
    <ion-card-header>
      <ion-card-title
        >{{serv.VEHICULO.MODELO.MARCA.DESCRIPCION}}
        {{serv.VEHICULO.MODELO.DESCRIPCION}} {{serv.VEHICULO.COLOR}}
        {{serv.VEHICULO.ANIO}}</ion-card-title
      >
      <ion-card-subtitle>{{serv.VEHICULO.MATRICULA}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="info-mantenimiento">
        <span>MANTENIMIENTO:</span>
        <p>{{serv.TIPO_SERVICIO.DESCRIPCION}}</p>
        <span>FECHA CITA:</span>
        <p>{{serv.FECHA_CITA | date: 'medium'}}</p>
      </div>
      
      <div class="tecnico-mantenimiento">
        <div class="contendor-cliente" *ngIf="tipo_usuario==3">
          <ion-avatar>
            <img
              class="imgTecnico"
              src="{{ url }}{{
                serv.CLIENTE.IMG ?? 'default.png'
              }}"
              alt=""
            /> 
          </ion-avatar>
          {{serv.CLIENTE.NOMBRE}}
        </div>
        <div *ngIf="tipo_usuario!=3">
          <div *ngIf="serv.TECNICO_ENCARGADO">
            <ion-avatar>
              <img
                class="imgTecnico"
                src="{{ url }}{{
                  serv.TECNICO_ENCARGADO.IMG ?? 'default.png'
                }}"
                alt=""
              />
            </ion-avatar>
            {{serv.TECNICO_ENCARGADO.NOMBRE}}
          </div>
          <div *ngIf="!serv.TECNICO_ENCARGADO">
            TÉCNICO ENCARGADO: NO ASIGNADO
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>


  <div hidden id="noServices" class="noservices">
    <img src="../../assets/sin-autos.png" alt="">
    <p>Nada que mostrar por aquí...</p>
  </div>

</ion-content>