<div class="contendor">
  <h2>USUARIOS</h2>
  <div class="contenedor-tabla">
    <form>
      <div class="mb-3 row">
        <div class="contenedor-acciones">
          <div>
            <label
              for="table-filtering-search"
              class="col-xs-3 col-sm-auto col-form-label"
              >Buscar Usuario:</label
            >
            <input
              id="table-filtering-search"
              class="form-control"
              type="text"
              [formControl]="filter"
            />
          </div>
          <button (click)="open(modalUsuarioRegistrar)">
            <i class="bx bxs-user-plus"></i>Registrar
          </button>
        </div>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col" class="acciones-tabla">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of userToShow
              | slice: (page - 1) * pageSize:page * pageSize;
            index as i
          "
        >
          <td>
            <ngb-highlight
              [result]="user.NOMBRE || 'No asignado'"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="user.TELEFONO || 'No asignado'"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="user.CORREO || 'No asignado'"
            ></ngb-highlight>
          </td>
          <td>
            <div class="contendor-acciones-tabla">
              <button
                class="btn-estatus {{ obtenerEstilosUser(user.ESTATUS) }}"
                (click)="actualizarEstatusUsr(user)"
              >
                {{ user.ESTATUS == "A" ? "Desactivar" : "Activar" }}
              </button>
              <a
                (click)="
                  handleEditUser($event, user); open(modalUsuarioRegistrar)
                "
              >
                <i class="bx bxs-edit"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="paginacion-tabla">
    <ngb-pagination
      class="pagination"
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [boundaryLinks]="true"
    ></ngb-pagination>
  </div>
  <ng-template #modalUsuarioRegistrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ !usuarioSeleccionado ? "Registrar Usuario" : "Modificar Usuario" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="NOMBRE"
            required
            value="{{usuarioSeleccionado ? usuarioSeleccionado.NOMBRE : ''}}"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            formControlName="CORREO"
            required
          />
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="telefono"
            formControlName="TELEFONO"
            required
          />
        </div>
        <div class="mb-3">
          <label for="tipo-persona" class="form-label">Tipo Persona</label>
          <select
            id="tipo-persona"
            class="form-select"
            formControlName="ID_TIPO_PERSONA"
            required
          >
            <option
              *ngFor="let tipoPersona of tipoPersonaList; index as i"
              value="{{ tipoPersona.ID_TIPO_PERSONA }}"
            >
              {{ tipoPersona.DESCRIPCION }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="tipo-usuario" class="form-label">Tipo Usuario</label>
          <select
            id="tipo-usuario"
            class="form-select"
            formControlName="ID_TIPO_USUARIO"
            required
          >
            <option
              *ngFor="let tipoUsuario of tipoUsuarioList; index as i"
              value="{{ tipoUsuario.ID_TIPO_USUARIO }}"
            >
              {{ tipoUsuario.DESCRIPCION }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="handleSubmit()">
        {{ !usuarioSeleccionado ? "Guardar" : "Guardar Cambios" }}
      </button>
    </div>
  </ng-template>
</div>
