 <div class="contenedor-registrarCita">
    <h1 class="titulo">REGISTRAR CITA</h1>

    <form [formGroup]="formRegistrarCita" (submit)="send()">
        <div class="wrapper">   
            <div class="datosServ">
                <p class="tituloGroup">DATOS DEL SERVICIO</p>
                <div class="groupDatos">
                    <p>Tipo de servicio</p>
                    <select class="cbxTipoServ" name="" id="cbxTipoServ" formControlName="ID_TIPO_SERVICIO">
                        <option value="" disabled selected>Selecciona el tipo de servicio</option>
                        <option *ngFor="let type of tiposServ" [value]="type.ID_TIPO_SERVICIO">
                            {{type.DESCRIPCION}}
                        </option>
                    </select>
                    <br><br>
                    <p>Descripción</p>
                    <textarea name="descripcion" id="txtDescripcion" cols="40" rows="5" formControlName="DESCRIPCION" maxlength="100"></textarea>
                </div>
            </div>
            <br>
            <div class="datosVeh">
                <p class="tituloGroup">DATOS DEL VEHÍCULO</p>
                <div class="contenedorBuscarBoton">
                    <form action="">
                        <div class="input-icons">
                            <app-buscador-vehiculos [vehiculos$]="vehiculos$" [formatterVeh]="formatterVeh"></app-buscador-vehiculos>               
                        </div>
                    </form>
                    

                    <ng-template #modalVeh let-modal>
                        <form (ngSubmit)="regVeh()" [formGroup]="formRegistrarVehiculo" action="">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">REGISTRAR VEHÍCULO</h4>
                                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                    <div class="mb-3">                                       
                                        <select class="cbxMarcaVeh" formControlName="ID_MARCA" name="" id="cbxMarcaVeh" (change)="cambiarMarca()">
                                            <option value="" disabled selected>Selecciona marca</option>
                                            <option *ngFor="let marca of marcas" [value]="marca.ID_MARCA">
                                                {{marca.DESCRIPCION}}
                                            </option>
                                        </select><br>
    
                                        <select formControlName="ID_MODELO" class="cbxModeloVeh" name="" id="cbxModeloVeh">
                                            <option value="" disabled selected>Selecciona modelo</option>
                                            <option *ngFor="let mod of modelos" [value]="mod.ID_MODELO">
                                                {{mod.DESCRIPCION}}
                                            </option>
                                        </select><br>
    
                                        <input type="text" formControlName="MATRICULA" name="" id="txtMatricula" placeholder="Matrícula" maxlength="7" (keypress)="validAlphanum($event)">
                                        <label class="errorMessage" *ngIf="this.formRegistrarVehiculo.get('MATRICULA')!.invalid">Matrícula inválida</label>
                                        <br>

                                        <input type="number" [max]="this.date.getFullYear()+1" min="1990" [defaultValue]="this.date.getFullYear()" formControlName="ANIO" name="" id="txtAnho" placeholder="Año" (keypress)="validAnio($event)">
                                        <label class="errorMessage" *ngIf="this.formRegistrarVehiculo.get('ANIO')!.invalid">Año inválido</label>
                                        <br>

                                        <select class="cbxColor" formControlName="COLOR" name="" id="cbxColor">
                                            <option value="" disabled selected>Selecciona color</option>
                                            <option value="BLANCO">BLANCO</option>
                                            <option value="NEGRO">NEGRO</option>
                                            <option value="AZUL">AZUL</option>
                                            <option value="ROJO">ROJO</option>
                                            <option value="GRIS">GRIS</option>
                                            <option value="VERDE">VERDE</option>
                                            <option value="AMARILLO">AMARILLO</option>
                                            <option value="MORADO">MORADO</option>
                                            <option value="NARANJA">NARANJA</option>
                                            <option value="ROSA">ROSA</option>
                                        </select><br>
           
                                        <input type="text" formControlName="VIN" name="" id="txtVIN" placeholder="VIN" maxlength="17" (keypress)="validAlphanum($event)">
                                        <label class="errorMessage" *ngIf="this.formRegistrarVehiculo.get('VIN')!.invalid">VIN inválido</label>
                                        <br>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="limpiarFormVehiculo()" class="btn btn-outline-dark">LIMPIAR</button>
                                <button type="submit" class="btn btn-outline-dark" [disabled]="formRegistrarVehiculo.invalid">GUARDAR</button>
                            </div>
                        </form>                   
                    </ng-template>

                    <a href="javascript:void(0);" class="btnVeh" (click)="open(modalVeh)">Nuevo <i class='bx bxs-car'></i></a>
                    <a href="javascript:void(0);" class="btnVeh" (click)="limpiarVeh()">Limpiar <i class='bx bxs-eraser'></i></a>
                </div>
                <div class="groupDatos">
                    <input type="text" name="matricula" id="matricula" placeholder="Matrícula" [value]="matriculaVeh" disabled><br>
                    <input type="text" name="" id="" placeholder="Modelo" [value]="modeloVeh" disabled><br>
                    <input type="text" name="" id="" placeholder="Año" [value]="anhoVeh" disabled><br>
                    <input type="text" name="" id="" placeholder="Color" [value]="colorVeh" disabled><br>
                    <input type="text" name="" id="" placeholder="VIN" [value]="vinVeh" disabled><br>
                </div>
            </div>
            <br>
            <div class="datosCliente">
                <div>
                    <p class="tituloGroup">DATOS DEL CLIENTE</p>
                    <div class="contenedorBuscarBoton">
                        <form action="">
                            <div class="input-icons">
                                <app-buscador-clientes [clientes]="clientes" [formatterClientes]="formatterClientes"></app-buscador-clientes>               
                            </div>
                        </form>

                        

                        <ng-template #modalCliente let-modal>
                            <form (ngSubmit)="regCliente()" [formGroup]="formRegistrarCliente" action="">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">REGISTRAR CLIENTE</h4>
                                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">  
                                        <select class="cbxTipoPersonaCliente" formControlName="ID_TIPO_PERSONA" name="" id="cbxTipoPersonaCliente">
                                            <option value="" disabled selected>Selecciona tipo de persona</option>
                                            <option *ngFor="let type of tiposPers" [value]="type.ID_TIPO_PERSONA">
                                                {{type.DESCRIPCION}}
                                            </option>
                                        </select><br>
    
                                        <input type="text" name="" formControlName="NOMBRE" id="txtNombreCliente" placeholder="Nombre" (keypress)="validAlpha($event)"><br>

                                        <input type="text" name="" formControlName="RFC" id="txtRFC" placeholder="RFC" maxlength="13" (keypress)="validAlphanum($event)">
                                        <label class="errorMessage" *ngIf="this.formRegistrarCliente.get('RFC')!.invalid">RFC inválido</label>
                                        <br>

                                        <input type="email" name="" formControlName="CORREO" id="txtCorreo" placeholder="Correo electrónico">
                                        <label class="errorMessage" *ngIf="this.formRegistrarCliente.get('CORREO')!.invalid">Correo inválido</label>
                                        <br>

                                        <input type="text" name="" formControlName="TELEFONO" id="txtTelefono" placeholder="Teléfono" maxlength="10" (keypress)="validNum($event)">
                                        <label class="errorMessage" *ngIf="this.formRegistrarCliente.get('TELEFONO')!.invalid">Teléfono inválido</label>
                                        <br>

                                        <input type="text" name="" formControlName="DIRECCION" id="txtDireccion" placeholder="Direccion"><br>                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="limpiarFormCliente()">LIMPIAR</button>
                                    <button type="submit" class="btn btn-outline-dark" [disabled]="formRegistrarCliente.invalid">GUARDAR</button>
                                </div>
                            </form>                     
                        </ng-template>

                        <a href="javascript:void(0);" class="btnCliente" (click)="open(modalCliente)">Nuevo <i class='bx bxs-user-plus'></i></a>
                        <a href="javascript:void(0);" class="btnVeh" (click)="limpiarCliente()">Limpiar <i class='bx bxs-eraser'></i></a>
                    </div>
                </div>
                <div class="groupDatos">
                    <input type="text" name="" id="" placeholder="Nombre Cliente" [value]="nombreCliente" disabled><br>
                    <input type="text" name="" id="" placeholder="RFC" [value]="rfcCliente" disabled><br>
                    <input type="text" name="" id="" placeholder="Correo electrónico" [value]="correoCliente" disabled><br>
                    <input type="text" name="" id="" placeholder="Teléfono" [value]="telefCliente" disabled><br>
                </div>
            </div>
            <br>
            <div class="datosFH">
                <p class="tituloGroup">FECHA Y HORA</p>
                <div class="groupDatosFecha">
                    <div class="contenedorDatePicker">
                        <p>Fecha</p>
                        <app-date-picker-component (cambioDate)="receiveDate($event)"></app-date-picker-component>
                    </div>
                    <div class="contenedorTimePicker">
                        <p>Hora</p>
                        <app-time-picker (cambioTime)="receiveTime($event)"></app-time-picker>
                    </div>
                </div>
                <div class="contenedorBoton">
                    <button type="submit" class="btnRegistrar" [disabled]="formRegistrarCita.invalid">REGISTRAR CITA</button>
                </div>
            </div>
                
            <div #htmlData id="htmlData" class="htmlData" hidden>
                <h2>HOJA DE CITA</h2>

                <h4>DATOS DEL VEHÍCULO</h4>
                <p>MATRÍCULA: {{matricula}}</p>
                <p>MODELO: {{modeloVeh}}</p>
                <p>AÑO: {{anhoVeh}}</p>
                <p>COLOR: {{colorVeh}}</p>
                <p>VIN: {{vinVeh}}</p>
                <br>
                <h4>DATOS DEL CLIENTE</h4>
                <p>NOMBRE: {{nombreCliente}}</p>
                <p>RFC: {{rfcCliente}}</p>
                <p>CORREO: {{correoCliente}}</p>
                <p>TELÉFONO: {{telefCliente}}</p>
                <br>
                <h4>DATOS DE LA CITA</h4>
                <p>FECHA: {{formarFecha()}}</p>
                <ngx-qrcode [elementType]="tipoElemento" [value]="'53'" [width]="400"> </ngx-qrcode>
            </div>
              
        </div>
    </form>
</div>