<form>
    <ion-input placeholder="RFC" class="custom"></ion-input>
    <ion-input placeholder="Nombre/Empresa" class="custom"></ion-input>
    <ion-input placeholder="Apellido Paterno" class="custom"></ion-input>
    <ion-input placeholder="Apellido Materno" class="custom"></ion-input>
    <ion-input placeholder="Telefono" class="custom"></ion-input>
    <ion-input placeholder="Direccion" class="custom"></ion-input>
    <ion-input placeholder="Correo Electrónico" class="custom"></ion-input>
</form>