<form [formGroup]="formRegister">
  <ion-item lines="none">
    <ion-checkbox
      slot="start"
      (click)="isMoralPerson = !isMoralPerson; createForm()"
    ></ion-checkbox>
    <ion-label>Soy una persona moral</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-input
      placeholder="RFC"
      class="custom"
      formControlName="RFC"
      [clearInput]="true"
      maxlength="{{ !isMoralPerson ? 12 : 13 }}"
    ></ion-input>
    <ion-note slot="error" *ngIf="rfc.errors?.['required']"
      >RFC requerido</ion-note
    >
    <ion-note slot="error" *ngIf="rfc.errors?.['minlength']"
      >Logintud Mínima {{ !isMoralPerson ? "12" : "13" }}
    </ion-note>
    <ion-note slot="error" *ngIf="rfc.errors?.['maxlength']"
      >Logintud Máxima {{ !isMoralPerson ? "12" : "13" }}</ion-note
    >
  </ion-item>
  <ion-item lines="none">
    <ion-input
      placeholder="{{ isMoralPerson ? 'Nombre Empresa' : 'Nombre(s)' }}"
      class="custom"
      formControlName="NOMBRE"
      [clearInput]="true"
      maxlength="30"
    ></ion-input>
    <ion-note slot="error" *ngIf="name.errors?.['required']"
      >Nombre requerido</ion-note
    >
    <ion-note slot="error" *ngIf="name.errors?.['minlength']"
      >Logintud Mínima 3
    </ion-note>
    <ion-note slot="error" *ngIf="name.errors?.['maxlength']"
      >Logintud Máxima 30</ion-note
    >
  </ion-item>
  <ion-item lines="none" *ngIf="!isMoralPerson">
    <ion-input
      placeholder="Apellido Paterno"
      class="custom"
      formControlName="AP1"
      [clearInput]="true"
      maxlength="15"
    ></ion-input>
    <ion-note slot="error" *ngIf="ap1.errors?.['maxlength']"
      >Logintud Máxima de 15
    </ion-note>
  </ion-item>
  <ion-item lines="none" *ngIf="!isMoralPerson">
    <ion-input
      placeholder="Apellido Materno"
      class="custom"
      formControlName="AP2"
      [clearInput]="true"
      maxlength="15"
    ></ion-input>
    <ion-note slot="error" *ngIf="ap2.errors?.['maxlength']"
      >Logintud Máxima de 15</ion-note
    >
  </ion-item>
  <ion-item lines="none">
    <ion-input
      placeholder="Telefono"
      class="custom"
      formControlName="TELEFONO"
      [clearInput]="true"
      type="tel"
      maxlength="10"
    ></ion-input>
    <ion-note slot="error" *ngIf="tel.errors?.['regexFine']"
      >Telefono Inválido</ion-note
    >
  </ion-item>
  <ion-item lines="none">
    <ion-input
      placeholder="Direccion"
      class="custom"
      formControlName="DIRECCION"
      [clearInput]="true"
    ></ion-input>
    <ion-note slot="error" *ngIf="direc.errors?.['required']"
      >Direccion requerida</ion-note
    >
    <ion-note slot="error" *ngIf="direc.errors?.['minlength']"
      >Logintud Mínima de 10</ion-note
    >
  </ion-item>
  <ion-item lines="none">
    <ion-input
      placeholder="Correo Electrónico"
      class="custom"
      formControlName="CORREO"
      type="email"
      [clearInput]="true"
      ngModel
      email
    ></ion-input>
    <ion-note slot="error">Correo Inválido</ion-note>
  </ion-item>
</form>
