<ion-content>
  <ion-item>
    <ion-label>
      <h1>MANTENIMIENTO</h1>
      <p>{{cita.TIPO_SERVICIO.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h3>DESCRIPCION</h3>
      <p>{{cita.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="cita.TECNICO_ENCARGADO">
    <ion-label>
      <h3>TÉCNICO ASIGNADO</h3>
      <p>{{cita.TECNICO_ENCARGADO.NOMBRE}}</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="!cita.TECNICO_ENCARGADO">
    <ion-label>
      <h3>TÉCNICO NO ASIGNADO</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h3>MATRÍCULA</h3>
      <p>{{cita.VEHICULO.MATRICULA}}</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="cita.VEHICULO.VIN">
    <ion-label>
      <h3>VIN</h3>
      <p>{{cita.VEHICULO.VIN}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h3>FECHA DE CITA</h3>
      <p>{{cita.FECHA_CITA | date: 'medium'}}</p>
    </ion-label>
  </ion-item>

  <h2 class="titulo-qr">QR DE CITA:</h2>

  <div class="qrcodeImage">
    <qrcode
      [qrdata]="id_cita"
      [allowEmptyString]="true"
      [ariaLabel]="'QR Code image with the following content...'"
      [cssClass]="'center'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'canvas'"
      [errorCorrectionLevel]="'M'"
      [imageHeight]="75"
      [imageWidth]="75"
      [margin]="4"
      [scale]="1"
      [title]="'QR'"
      [width]="300"
    ></qrcode>
  </div>

  <ion-fab>
    <ion-fab-button (click)="abrirChat(true)">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>CHAT DE SERVICIO</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="abrirChat(false)">CERRAR</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-chat [serv]="cita"></app-chat>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>