
<ion-content>
  <div>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>CHAT DE SERVICIO</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="abrirChat(false)">CERRAR</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-chat [serv]="serv"></app-chat>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <ion-item>
    <ion-label>
      <h1>MANTENIMIENTO</h1>
      <p>{{serv.TIPO_SERVICIO.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>Descripcion:</h2>
      <p>{{serv.DESCRIPCION}}</p>
    </ion-label>
  </ion-item>

  <ion-item class="tecnico-encargado" *ngIf="serv.TECNICO_ENCARGADO">
    <ion-label>
      <h3>TÉCNICO ASIGNADO</h3>
      <p>{{serv.TECNICO_ENCARGADO.NOMBRE}}</p>
    </ion-label>
    <img src="{{ url }}{{serv.TECNICO_ENCARGADO.IMG}}" alt="" />
  </ion-item>

  <ion-item *ngIf="!serv.TECNICO_ENCARGADO">
    <ion-label>
      <h3>TÉCNICO NO ASIGNADO</h3>
    </ion-label>
  </ion-item>


  <ion-item class="tecnico-encargado" *ngIf="serv.TECNICO_ENCARGADO">
    <ion-label>
      <h3>CLIENTE</h3>
      <p>{{serv.CLIENTE.NOMBRE}}</p>
    </ion-label>
    <img src="{{ url }}{{serv.CLIENTE.IMG ?? 'default.png'}}" alt="" />
  </ion-item>
  
  <p>REFACCIONES Y MANO DE OBRA</p>
  <div class="contendor-refacciones" *ngIf="serv.ESTATUS.ID_ESTATUS!='C'">
    <ion-card *ngFor="let det of detalle_serv">
      <ion-card-header>
        <ion-card-title>{{det.PRODUCTO.DESCRIPCION}}</ion-card-title>
        <ion-card-subtitle>{{det.TIPO_PROD == 'R' ? 'Refacción' : 'Mano de Obra'}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <h3>Precio {{det.PRECIO | currency}}</h3>
          <h3>Total {{det.PRECIO * det.CANTIDAD | currency}}</h3>
          <h3>Cantidad {{det.CANTIDAD}}</h3>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button id="open-modal" *ngIf="serv.ESTATUS.ID_ESTATUS=='R'">AGREGAR</ion-button>
  
  <p>Total: {{total | currency}}</p>

  <ion-modal class="agregar-producto" #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75, 1]">
    <ng-template>
      <ion-content class="contendor-ref">
        <ion-searchbar 
        placeholder="Buscar" 
        (click)="modal.setCurrentBreakpoint(0.75)"
        show-cancel-button="focus"
        cancel-button-icon="trash"
        (ionChange)="handleSearchChange($event)"
        ></ion-searchbar>
        <ion-list class="lista-ref" (click)="modal.setCurrentBreakpoint(1)">

          <ion-item *ngFor="let prod of productosToShow" (click)="selectProd(prod);">
            <ion-avatar slot="start">
              <ion-img *ngIf="!prod.ID_MANO_OBRA" src="../../../assets/service.png"></ion-img>
              <ion-img *ngIf="prod.ID_MANO_OBRA" src="../../../assets/maintenance.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{prod.DESCRIPCION}}</h2>
              <h2>Precio: {{prod.PRECIO | currency}}</h2>
              <h3 *ngIf="prod.STOCK">Stock disponible: {{prod.STOCK}}</h3>
            </ion-label>
          </ion-item>       
        </ion-list>
        
        <h2 *ngIf="prod_selec.length > 0" class="productos-agregados"> Lista productos agregados </h2>

        <div class="contenedor-prod-por-agregar" *ngIf="prod_selec.length > 0">
          <div *ngFor="let prod of prod_selec" class="producto">
            <ion-item class="prod">
              <ion-label>
                <h2>{{prod.DESCRIPCION}}</h2>
                <h2>Precio: {{prod.PRECIO | currency}}</h2>
                <h3 *ngIf="prod.STOCK">Stock disponible: {{prod.STOCK}}</h3>
              </ion-label>
            </ion-item>
            <ion-item class="input-cantidad">
              <ion-label position="floating"> Cantidad</ion-label>
              <ion-input
                #inputCantidad
                type="number"
                min="1"
                value="1"
                [max]="prod.STOCK ?? null"
                (change)="actTotalSelec($event,prod)">
              </ion-input>
            </ion-item>
            <button (click)="eliminateProdFromList(prod)"class="borrar-prod">X</button>
          </div>
        </div>
        <p
        class="total" 
        *ngIf="total_selec!=0"
        >
          Total: {{total_selec | currency }}
        </p>
        <button 
          class="btn-agregar-prod"
          ion-button outline item-right 
          (click)="aggProd();modal.setCurrentBreakpoint(0.25)"
          *ngIf="prod_selec.length > 0"
          >Agregar
        </button>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-button *ngIf="serv.ESTATUS.ID_ESTATUS!='T'" (click)="updateStatus()">ACTUALIZAR ESTATUS</ion-button>

  <div class="seguimiento-serv" *ngIf="serv.ESTATUS.ID_ESTATUS!='C'">
    SEGUIMIENTO SERVICIO
    <ion-item *ngFor="let act of actualizaciones_serv" class="seguimiento">
      <ion-thumbnail slot="start">
        <img alt="" src="{{url}}{{act.USUARIO.IMG ?? 'default.png'}}" />
      </ion-thumbnail>
      <div>
        <ion-label>{{act.ESTATUS.DESCRIPCION}}</ion-label>
        <ion-label>{{act.USUARIO.NOMBRE}}</ion-label>
        <ion-label>{{act.FECHA | date: 'medium'}}</ion-label>
      </div>
    </ion-item>
  </div>

  <ion-fab>
    <ion-fab-button (click)="abrirChat(true)">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>