ion-content
    text-align: center
    .tipo-mantenimiento
        font-size: 15pt
        color: #000
        font-weight: 700
    .descripcion
        font-size: 12pt
        color: #000
        font-weight: 400
    span
        font-weight: 700
        margin-bottom: 15px
    .tecnico-encargado
        img
            max-width: 100px
    ion-fab
        position: fixed
        bottom: 20px
        right: 20px
    .estado-servicio
        color: #fff
        margin-top: 25px
        --background: #4b574b
        p
            color: inherit
    .contendor-refacciones
        max-height: 300px
        overflow-y: scroll
        ion-card
            --background: #262a33
            color: #fff
            ion-card-header
                ion-card-title, ion-card-subtitle
                    color: #fff
            ion-card-content
                display: flex
                justify-content: space-evenly
                align-content: center
                text-align: center
                width: 100%
                h3
                    width: 50%
                    margin-top: 25px
                    &:first-child
                        margin-top: 0
                    &:last-child
                        margin-top: 0
    ion-button
        display: block
        width: 250px
        margin: 0 auto
        margin-top: 30px
        margin-bottom: 30px
    .seguimiento-serv
        background: #5e687f
        color: #fff
        padding: 10px
        ion-item
            --background: #5e687f
            color: #fff

